<!DOCTYPE html>
<html>
  <head>
    <title>SIJAKET</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center">DATA JADWAL PIKET</h2>
      <div class="row mt-3">
  
      <!-- alert -->
        <div class="col-auto col-lg-12 mt-2">
          <% if( typeof(alert) !== "undefined") { %>
            <% if( alert.message !== "" ) { %>
              <div class="alert alert-<%= alert.status %>" role="alert">
                <%= alert.message %>
              </div>
            <% } %>
          <% } %>
        </div>

        <!-- Table -->
        <div class="col-auto col-lg-12 mt-2"><%- include('table.ejs') %></div>
      </div>
    </div>
    <!-- Add Modal -->
    <%- include('add_modal.ejs'); %>
    <!-- Add Modal -->
    <%- include('edit_modal.ejs'); %>
    <!-- JS -->
    <%- include('js.ejs'); %>
    <!--
    <%- include('index.ejs') %>
    <%- include('error.ejs') %>
    -->

    <script>
      /* Menampilkan modal dan memanggil tag table yang memiliki id dataTable
         class button-update di class tag a Edit di file table.ejs */
      $("#dataTable").on("click", ".button-update", function () {
        // membuat variabel untuk mengambil data-id, data-name, dstnya yang sudah dibuat di file table.ejs di bagian tag a edit
        let id = $(this).data("id");
        let nama = $(this).data("nama");
        let nomor_wa = $(this).data("nomor_wa");
        let tanggal_pkt = $(this).data("tanggal_pkt");
        /*
         * memanggil id edit-modal yang ada di file edit_modal.ejs
         * dan membuat fungsi dari method
         */
        $("#edit-modal").modal("show");
        /* Lalu Mengirim  id, name, dstnya melalu class disamping form-control tag input
           dan valuenya mengambil dari setiap let yang dideklarasikan di atas */
        $(".id").val(id);
        $(".nama").val(nama);
        $(".nomor_wa").val(nomor_wa);
        $(".tanggal_pkt").val(tanggal_pkt);
      });
    </script>
  </body>
</html>
