<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary btn-sm"
      data-toggle="modal"
      data-target="#add-modal"
    >
      Add
    </button>
    <button
    type="button"
    class="btn btn-outline-primary btn-sm"
    onclick="exportReportToExcel(this)"   
  >
    Export
  </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
        data-b-a-s="thin"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Nomor WhatsApp</th>
            <th>Tanggal Piket</th>
            <th data-exclude="true">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < pegawai.length; i++){ %>
          <tr>
            <td><%= i +1 %></td>
            <td><%= pegawai[i].nama %></td>
            <td><%= pegawai[i].nomor_wa %></td>
            <td data-t="d"><%= pegawai[i].tanggal_pkt %></td>
            <td data-exclude="true" class="text-center">
              <form
                action="/pegawai/<%= pegawai[i].id %>?_method=DELETE"
                method="POST"
              >
                <a
                  href="javascript:void()"
                  class="btn btn-outline-warning btn-sm button-update"
                  data-id="<%= pegawai[i].id %>"
                  data-nama="<%= pegawai[i].nama %>"
                  data-nomor_wa="<%= pegawai[i].nomor_wa %>"
                  data-tanggal_pkt="<%= pegawai[i].tanggal_pkt %>"
                  >Edit</a
                >
                <button
                  type="submit"
                  class="btn btn-outline-danger btn-sm"
                  onclick="return confirm('Apakah Anda yakin akan menghapus data ini??');"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
        <script>
            function exportReportToExcel() {
              let table = document.getElementsByTagName("table");
              TableToExcel.convert(table[0], { // <-- ini gw ambil tabel ke 1 kalo ada table lain tinggal di looping aja
                    name: `export.xlsx`, // <-- buat edit nama excel
                    sheet: {
                    name: 'Sheet 1' // <-- buat edit nama sheet
                  }
              });
            }
        </script>
</div>
